<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./assets/css/styles.css" />

    <title>GitList</title>
  </head>
  <body>
    <div class="main-layout">
      <div class="profile">
        <img src="" width="278" height="278" alt="image profile" />
        <p class="nickname">@LeonidasEsteban</p>
        <p class="prof-name">Leonidas Esteban</p>
        <div class="prof-actions">
          <button class="btn">follow</button>
          <button class="btn">💜 sponsor</button>
        </div>

        <div class="info">
          <p class="bio-info">Software Engineer, Professor</p>
          <p class="followers-info">
            <span class="">🐞</span>46<span class="follow">followers</span>
            <span class="dot">·</span>60<span class="follow">following</span>
            <span class="dot">·</span>
          </p>
          <p><span class="icon">🐞</span>81</p>
          <p><span class="icon">🐞</span>ciudad de mexico</p>
          <p><span class="icon">🐞</span>https://leonidasesteban.com</p>
          <p><span class="icon">🐞</span>@LeonidasEsteban</p>
        </div>
      </div>
      <div class="search">search</div>
      <div class="projects">projects</div>
    </div>
  </body>
</html>
